nav {
	text-align: center;
	background-color: #ffb399;
	padding: 20px 0;
}
nav ul li {
	display: inline-block;
	background-color: #9999ff;
	padding: 10px 15px;
	margin: 5px 10px;
	transition: 0.5s ease;
  	border-bottom: 1px solid;
}
/* hover effect  */
ul li a:hover {
    background-color: white;
    font-size: 150%;
    color: magenta;
}

ul li a {
  transition: 0.5s ease;
}


div#button {
  text-align: center;
  padding: 50px 0px;


}
/* boxes */
button {
  background-color: hotpink;
	color: darkblue;
	border: none;
	border-radius: 5px;
	padding: 15px 25px;
	transition: 0.25s ease;
}

button:hover {
  background-color: #b81677;
  color: #d3d934;
}
